.education {
     padding: 10px;
     align-items: left;
     background-color: #FCEAD8;
     font-size: small;
     font-weight: bold;
     min-height: 70vh;
}

.education h3 {
     font-size: 2em;
     color: #636363;
     font-weight: bold;
}

.education li {
     font-size: 1.2em;
     color: #636363;
     text-align: left;
     padding: 10px;
     font-weight: normal;
}