.projects {
     padding: 10px;
     align-items: left;
     background-color: #FCEAD8;
     font-size: small;
     font-weight: bold;
     min-height: 70vh;
}

.projects h3 {
     font-size: 2em;
     color: #636363;
     font-weight: bold;
}

.cardContainer {
     margin:0px;
     padding:0px;
}

.imgProject {
     width: 350px;
     height: 350px;
}
